@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}

h1{
    font-weight: 600;
    color: #205375;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea{
    margin-left: 530px;
}

button {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #205375;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin-left: 560px;
}

img {
    margin-left: 515px;
}
